In [1]:
import setwebscrape as scraper
from IPython.display import clear_output

In [2]:
scraper.get_symbols()

getting symbols: 100%|██████████████████████████| 27/27 [00:04<00:00,  5.65it/s]

Saved to 'SET_symbols.json'

In [3]:
scraper.get_all_company_highlights()

getting company highlights: 100%|███████████████| 27/27 [02:28<00:00,  5.52s/it]

Saved to 'SET_companyHighlights.json'

In [4]:
data = scraper.load_json('SET_companyHighlights.json')

In [5]:
symbol = 'AOT'
scraper.show_company_highlights(data[symbol])

*** AOT | FinancialData ***

,Y/E '18 30/09/2018,Y/E '19 30/09/2019,Y/E '20 30/09/2020,Y/E '21 30/09/2021
Assets,187708.55,198381.56,173558.57,195085.77
Liabilities,43439.43,43842.92,30526.90,81664.39
Equity,143902.78,153899.11,142235.58,112343.77
Paid-up Capital,14285.70,14285.70,14285.70,14285.70
Revenue,61918.81,64384.75,33129.95,7715.73
Profit (Loss) from Other Activities,217.12,182.04,145.56,-51.08
Net Profit,25170.76,25026.37,4320.68,-16322.01
EPS (Baht),1.76,1.75,0.30,-1.14
ROA(%),17.56,16.73,3.22,-9.53
ROE(%),18.29,16.81,2.92,-12.82
Net Profit Margin(%),40.74,38.98,12.97,-212.19

--------------------------------------------------

*** AOT | Statistics ***

,28/12/2018,30/12/2019,30/12/2020,30/12/2021,03/02/2022
Last Price(Baht),64.25,74.25,62.25,61.0,64.0
Market Cap.,917856.22,1060713.23,889284.82,871427.7,914284.8
F/S Period (As of date),30/09/2018,30/09/2019,30/09/2020,30/09/2021,30/09/2021
P/E,36.47,42.38,205.82,N/A,N/A
P/BV,6.38,6.89,6.25,7.76,8.14
Book Value per share (Baht),10.07,10.77,9.96,7.86,7.86
Dvd. Yield(%),1.63,1.41,0.31,N/A,N/A

In [6]:
symbol = 'OR'
scraper.show_company_highlights(data[symbol])

*** OR | FinancialData ***

,Y/E '19 31/12/2019,Y/E '20 31/12/2020,Q3 '21 30/09/2021
Assets,152176.21,144979.30,191619.26
Liabilities,113468.38,107063.34,94747.46
Equity,38707.83,37823.44,96818.87
Paid-up Capital,90000.00,90000.00,120000.00
Revenue,583208.75,432848.96,356406.09
Profit (Loss) from Other Activities,927.85,108.31,641.40
Net Profit,10895.81,8791.07,9120.62
EPS (Baht),1.21,0.98,0.79
ROA(%),9.59,8.09,9.54
ROE(%),28.15,22.97,17.45
Net Profit Margin(%),1.87,2.03,2.56

--------------------------------------------------

*** OR | Statistics ***

                             30/12/2021  03/02/2022
Last Price(Baht)                   27.0        24.5
Market Cap.                    324000.0    294000.0
F/S Period (As of date)      30/09/2021  30/09/2021
P/E                                26.9       24.41
P/BV                               3.35        3.04
Book Value per share (Baht)        8.07        8.07
Dvd. Yield(%)                      0.36        0.39

In [7]:
symbol = 'DELTA'
scraper.show_company_highlights(data[symbol])

*** DELTA | FinancialData ***

,Y/E '18 31/12/2018,Y/E '19 31/12/2019,Y/E '20 31/12/2020,Q3 '21 30/09/2021
Assets,48200.69,45958.29,57218.93,66251.29
Liabilities,14259.77,12951.94,19611.50,26591.10
Equity,33936.50,33010.22,37611.74,39660.19
Paid-up Capital,1247.38,1247.38,1247.38,1247.38
Revenue,53708.01,51838.37,63826.88,61373.74
Profit (Loss) from Other Activities,229.23,58.30,353.70,849.74
Net Profit,5137.03,2959.96,7101.64,4603.42
EPS (Baht),4.12,2.37,5.69,3.69
ROA(%),11.33,6.31,14.07,10.48
ROE(%),15.47,8.84,20.11,16.16
Net Profit Margin(%),9.55,5.69,11.05,7.51

--------------------------------------------------

*** DELTA | Statistics ***

,28/12/2018,30/12/2019,30/12/2020,30/12/2021,03/02/2022
Last Price(Baht),69.5,53.5,486.0,412.0,394.0
Market Cap.,86693.02,66734.92,606227.46,513921.22,491468.36
F/S Period (As of date),30/09/2018,30/09/2019,30/09/2020,30/09/2021,30/09/2021
P/E,15.88,18.62,102.7,83.09,79.46
P/BV,2.61,2.03,16.43,12.96,12.39
Book Value per share (Baht),26.59,26.41,29.58,31.79,31.79
Dvd. Yield(%),3.17,4.3,0.37,0.8,0.84